/******************/
/* General Styles */
/******************/

body {
   font-family: Arial;
}

div {
    width: 200px;
    height: 200px;
    background-color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.one {
    transition: all .2s;
}
.one:hover {
    color: white;
    background-color: rgb(195, 60, 195);
    border-radius: 50%;
}

.two {
    transition: all .2s;
}

.two:hover {
    color: white;
    background-color: hotpink;
    border-radius: 50%;
}

.three {
    transition: all .2s;
}

.three:hover {
    color:white;
    background-color: rgb(17, 77, 77);
    border-radius: 50%;
}
