body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;

}

/* Your code here */
header {
    background-color: blueviolet;
    padding: 15px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;

}

section{
    display: inline-block;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 1px grey;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 10, 232);
    
}

main{
    background-color: gainsboro;
    
}