/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sacramento&display=swap');

 body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

header {
    font-family: 'Sacrement';
}