/* You're welcome to change any of this! */

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #b0a3d4;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

h2 {
    text-decoration: underline;
    font-size: x-large;
}

header {
    font-family: 'Sacramento', cursive;
    font-size: x-large;
    text-align: center;
    background-color: #2f243a;
    color: white;
    border: 1px solid black;
    padding: 20px;
}

header img {
    width: 180px;
    display: block;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

a:visited {
    color: #a4c2a5;
}

section {
    text-align: center;
    border: 5px solid #197278;
    border-radius: 5px;
    padding-left: 5px;
}

#tutorials {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#class-exercises {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#quizzesandexams {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#homework {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    height: 60vh;
}

#inspiration {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

#projects {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1; /* Updated to be below inspiration */
}

footer {
    font-size: larger;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: #a4c2a5;
    border: 1px solid black;
    color: white;
    grid-column: 1 / span 4;
    grid-row: 6 / span 1;
}

/* Mobile */
@media (max-width: 500px) {
    main {
        grid-template-columns: 100%;
    }

    header,
    section {
        grid-column: 1 / span 1;
    }

    #tutorials,
    #class-exercises,
    #quizzesandexams,
    #homework,
    #inspiration,
    #projects,
    footer {
        grid-row: auto;
    }
}
