body {
    font-family: Arial, sans-serif;
    color: #ffeccf;
    margin: 0;
    padding: 0;
    background-color: #d2c4ae;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto;
}

header {
    background: url("images/aotheaderimage.jpeg") center/cover no-repeat; 
    background-position: center 20%;
    color: #ffeccf;
    border: 1px solid black;
    text-align: center;
    position: relative;
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 50px 0; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav {
    position: absolute; 
    bottom: 0;
    right: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffeccf;
    font-weight: bold;
    position: relative;
}

nav a:hover {
    border-bottom: 2px solid #294023;
    padding-bottom: 2px;
    transition: border-bottom 0.3s ease, padding-bottom 0.3s ease;
}

nav a.active {
    color: #ffcc00;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

main {
    padding: 20px;
    grid-column: 2;
    text-align: center;
    background-color: #6f553f;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #294023;
    text-decoration: underline;
}

h3 {
    color: #294023;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 10px;
    text-align: center;
}

li img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 2px solid #000;
    transition: box-shadow 0.3s ease-in-out;
}

li img:hover {
    box-shadow: 0 0 10px 5px rgba(10, 72, 7, 0.7); 
}

li img {
    width: 120px;
    height: 120px;
}

footer {
    background-color: #333;
    color: #ffeccf;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    grid-column: 1 / span 3; 
    grid-row: -1;
}

.character-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    margin: 20px;
    text-align: center;
    width: 100%;
}

.character img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%; 
}

.character-name {
    font-weight: bold;
    margin: 10px 0;
}

.character-description {
    color: #ffeccf;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    body {
        grid-template-columns: 100%;
    }

    header {
        grid-column: 1;
        text-align: center;
    }

    header h1 {
        font-size: 20px; 
    }

    nav {
        display: none; 
    }

    main {
        grid-column: 1;
        padding: 10px;
        text-align: center;
    }

    footer {
        grid-column: 1;
        text-align: center;
    }

    .character img {
        width: 100%; 
        max-width: none; 
        border-radius: 50%; 
    }
}
