/************************/
/* Starter Code: Layout */
/************************/
body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: #111;
    color: #fff;
}

body * {
    box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}

main {
    display: grid;
    grid-template-columns: 250px auto;
    overflow-y: auto;
    margin-top: 100px;
    height: calc(100vh - 175px);
}

#sidebar {
    /* First & second row (spans), first column */
    grid-row: 1 / 3;
    grid-column: 1 / 2;

}

nav {
    /* First row, second column */
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#featured-content {
    /* Second row, second column */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    background: #222;
    height: 75px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
    background-color: hsla(0, 0%, 100%, .3);
}

/********************************* Your code below this line ******************************/



/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */
#sidebar {
    padding: 20px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    
}

#sidebar>a.selected {
    border-left: solid 3px #1db954;
    padding-left: 3px;
}

#sidebar a {
    color: #ededed;
}

#sidebar a:hover {
    color: white;
      
}

aside > a:hover,
aside > a.selected {
    border-left: solid 3px #1db954;
}



/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
#upgrade {
    border: solid 1px white;
    border-radius: 120px;
    padding: 10px 25px;
    /* first value is top and bottom 2nd is left and right */
    text-transform: uppercase;
    background-color: #111;
    
}

#upgrade:hover {
    filter: brightness(2);
}

#profile:hover {
    filter: brightness(2);
}

#profile {
    font-weight: bold;
    background-color: #222;
    text-transform: uppercase;
    border-radius: 120px;
    padding: 8px 30px;
    
}

header {
   display:flex;
   justify-content: right;
   align-items: center;
   column-gap: 20px;
   padding: 10px 20px;
}
nav {
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

nav>a {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: solid 4px transparent;

}

nav>a:hover, nav>a.selected {
    border-bottom: solid 4px #1db954;
}

/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */
#featured-content {
    margin-top: 30px;
    display: grid;     
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;

}

.artist-card img {
    width: 100%;
    border-radius: 50%;

}

.artist-card {
    background-color: #222;
    padding: 15px;
    /* padding-bottom: 80px; */
    border-radius: 5%;
    height: 40vh;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.artist-card p {
    margin: 0%;
    color: #ccc;
}

.artist-card button {
    background-color: #1db954;
    border-radius: 50%;
    color: white;
    padding: 15px 20px;
    margin-left: 160px;
    margin-bottom: 15px;
    display: none;
}

.artist-card:hover button {
    display: block;
}



/*****************/
/* Mobile Design */
/*****************/
@media screen and (max-width: 800px) {
    
    
    #featured-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0%;
        padding: 0%;
    }

    .artist-card {
        max-width: 160px;
        min-width: 160px;
        max-height: 250px;
        font-size: small;
    }

    
}




@media screen and (max-width: 500px) {

    main {
        display: flex;
        flex-wrap: wrap;
    }

    #featured-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 15px;
    }

    .artist-card {
        min-width: 220px;
        max-width: 220px;
        max-height: none;
    }

    #upgrade {
        display: none;
    }

    #sidebar {
        display: none;
    
    }

}